.card {
  min-inline-size: 300px;
  box-shadow: 0 0 4px black;
  border-radius: 4px;

  &_image {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }

    &_content {
    padding: 20px;
    font-size: 24px;
  }

}